<%= form_for(@user) do |f| %>
<% @users.each do |user| %>
<tr id="user_row">
  <td id="user_email"><%= user.email %></td>
  <td id="user_role"><%= user.role %></td>
  <td id="switch_role"><%= link_to "make admin or student", user_path(user.id), :method => :put, data: {confirm: "Are you sure?"} %></td>
</tr>
<% end %>
<%end%>
<hr>
<%= button_to "Make pairs",  controller: "users", action: "make_pairs" %>
<hr>
<% @user.find_match %>
<h3> Pairs for upcomimg five days</h3>
<% matches = @user.get_all_created_matches %>
<% matches.each do |match| %>
   <p> Date: <%= match.date %> => Pairs: <%= match.pairs %></p>
<%end%>
