<h3>You are matched!</h3>
<p>Date: <%=Date.today%><p>
<%  @user.find_match %>
<% matches = @user.get_matches_for_students %>
<% your_match = @user.get_match_from_history(Date.today) %>
<p> You are <%= @user.email %>. You are lastly matched with <%= your_match %>.</p>
<hr>
<%matches.each do |match| %>
<p>Date: <%= match.date.to_date %>:   Pairs: <%=match.pairs %>
<br>=> You are matched with <%= @user.get_match_from_history(match.date) %></p>
<%end%>
